@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html {
        scroll-behavior: smooth;
    }

    html::-webkit-scrollbar {
        width: 8px;
        background-color: #33384C;
    }

    html::-webkit-scrollbar-thumb {
        background-color: #191B25;
        border-radius: 50px;
       
    }
}